*
!.gitignore
!/NLP
!/NLP/*
!/NLP/**
!/Aljabar Linier/
!/Aljabar Linier/*
!/Aljabar Linier/**
!/Analitik Data/
!/Analitik Data/*
!/Analitik Data/**
!/Generative AI/
!/Generative AI/*
!/Generative AI/**
!/teturuQ/
!/teturuQ/*
!/teturuQ/**

